.input-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.input-metric{
    width: 55px;
}
.output-metric{
    max-width: fit-content;
}
.visualization-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}